/*====================================
*            General Page            *
====================================*/

body{
	background: #000000;
	overflow: scroll;
}

p{
	font-family: 'Josefin Slab';
	font-size: 1.8rem;
	padding-top:5rem;
	text-shadow: 0 0 3px #FFFFFF, 0 0 5px #FFFFFF;
}

.container{
	margin: 0;
	border:0;
	padding: 0;
}

h1{
  font-family: 'Special Elite';
  font-size: 10rem;
  text-shadow: 0 0 3px #FFFFFF, 0 0 5px #FFFFFF;
  color:#000000;
}

h2{
  font-family: 'Special Elite';
  font-size: 8rem;
  text-shadow: 0 0 3px #FFFFFF, 0 0 5px #FFFFFF;
  color:#000000;
}
h3{
	font-family: 'Special Elite';
	font-size: 2.5rem;
	text-shadow: 0 0 3px #FFFFFF, 0 0 5px #FFFFFF;
}
div{
	margin: 0;
	border:0;
	padding: 0;
}

/*=====  End of General Page  ======*/

/*==============================
*            Banner            *
==============================*/

header .jumbotron-fluid{
	background:url('../images/coverphoto.png') center center no-repeat;
	text-align: center;
	background-size:100% 100%;
	margin-bottom: 0;
}


/*=====  End of Banner  ======*/

/*====================================
*            Picture Rows            *
====================================*/
.scrolling-wrapper{
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
}

.scrolling-wrapper div{
        display: inline-block;
}

.x0-tile-txt{
	  position: absolute;
	  margin: 15rem 0.5rem;
	}
  
.x0-group{
	position: relative;
}

.x1-group{
	position: relative;
}

.x1-txt{
	display: block;
	position: absolute;
	background:;
	height: 100%;
	width: 100%;
	text-align: center;
	white-space: normal;
	padding: 2rem;
	visibility:hidden;
}

.x2-group{
	position: relative;
}

.x2-txt{
	display: block;
	position: absolute;
	background:;
	height: 100%;
	width: 100%;
	text-align: center;
	white-space: normal;
	padding: 2rem;
	visibility:hidden;
}

.x3-group{
	position: relative;
}

.x3-txt{
	display: block;
	position: absolute;
	background:;
	height: 100%;
	width: 100%;
	text-align: center;
	white-space: normal;
	padding: 2rem;
	visibility:hidden;
}

.x4-group{
	position: relative;
}

.x4-txt{
	display: block;
	position: absolute;
	background:;
	height: 100%;
	width: 100%;
	text-align: center;
	white-space: normal;
	padding: 2rem;
	visibility:hidden;
}

.x5-group{
	position: relative;
}

.x5-txt{
	display: block;
	position: absolute;
	background:;
	height: 100%;
	width: 100%;
	text-align: center;
	white-space: normal;
	padding: 2rem;
	visibility:hidden;
}

.x1-group:hover .x1-txt{
	visibility: visible;
	background: rgba(255, 255, 255, 0.4);

}
.x2-group:hover .x2-txt{
	visibility: visible;
	background: rgba(255, 255, 255, 0.4);

}
.x3-group:hover .x3-txt{
	visibility: visible;
	background: rgba(255, 255, 255, 0.4);

}
.x4-group:hover .x4-txt{
	visibility: visible;
	background: rgba(255, 255, 255, 0.4);

}
.x4-group:hover .x4-txt{
	visibility: visible;
	background: rgba(255, 255, 255, 0.4);

}
.x5-group:hover .x5-txt{
	visibility: visible;
	background: rgba(255, 255, 255, 0.4);

}
/*=====  End of Picture Rows  ======*/


/*===================================
*            Media Query            *
===================================*/

@media only all and (max-width: 1040px) {
header .jumbotron-fluid  h1 {
    font-size:4rem;
  }
}

@media screen and (max-width: 992px) {
  .clearfix .scrolling-wrapper img{
    width: 100vw;
    height:100vh;
  }

  @media screen and (max-width: 992px) {
  header{
    width: 100vw;
    height:100%;
  }


/*=====  End of Media Query  ======*/


